<body>
<div id="treasure_link">
<%= link_to 'Click here to get your treasure', new_treasure_path, :id => 'tlink' %>
</div>
<img src="/assets/lego-leprechaun.jpg" alt="Leprechaun and Pot of Gold">
</body>