<div id="treasure_list">
<h2>Here is our current treasure wishlist.</h2>
<h4>Due to high demand, please anticipate some delay in receipt of your requested item.</h4>
<% @treasures.each do |treasure| %>
    <h3><%= treasure.item %></h3><b />
<% end %>
</div>