<body>
<div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1>Get Your Treasure</h1>
    <p>What would you like to find at the end of the rainbow?</p>
    <%= simple_form_for @treasure do |t| %>
        <%= t.input :item %>
        <br />
        <%= t.submit 'Submit', :class => 'btn btn-primary' %>
    <% end %>
</div>
</body>
